
.Receipt {
  font-family: 'VCR OSD Mono' !important;
  border: 1px solid #ddd;
  padding: 10px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
  background-image: url('https://cdn.discordapp.com/attachments/931712967706292285/1102200306466566281/paperbg.jpg');
  position: relative;
  border-top: 0.1px dashed #000;
  border-bottom: 0.1px dashed #000;
}

.Receipt .title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.Receipt .header {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  margin-bottom: 10px;
  border-bottom: 0.5px dashed #000;
  padding-bottom: 5px;
}

.Receipt .item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 0.9em;
  font-weight: 500;
}

.Receipt .item .description {
  flex: 1;
}

.Receipt .item .price {
  flex: 0 0 60px;
  text-align: right;
}

.Receipt .barcode {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.Receipt .business-name {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1em;
  text-align: right;
  max-width: 50%; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Receipt .sub-total-tax {
  position: absolute;
  bottom: 85px;
  left: 0;
  right: 0;
  font-size: 0.8em;
  font-weight: 500;
  border-top: #000 1px dashed;
  padding-top: 4px;
  border-bottom: #000 1px dashed;
  padding-bottom: 4px;
  display: flex;
  justify-content: space-between;
}

.Receipt .sub-total {
  padding-left: 5px;
}

.Receipt .tax-amount {
  padding-right: 5px;
}

.Receipt .grand-total {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  padding-top: 5px;
}
