body {
  user-select: none;
}

.Receipt {
  font-family: 'VCR OSD Mono' !important;
  border: 1px solid #ddd;
  padding: 10px;
  width: 300px;
  margin: 0 auto;
  position: relative;
  background-color: white;
  position: relative;
  border-top: 0.1px dashed #000;
  border-bottom: 0.1px dashed #000;
  overflow: hidden;
  z-index: 1;
}

.Receipt::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./img/paperbg.jpg');
  opacity: 1.0;
  z-index: -1;
}

.Receipt .header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Receipt .title {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 10px;
}

.Receipt .business-name {
  top: 10px;
  right: 10px;
  font-size: 1em;
  text-align: right;
  max-width: 100%; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Receipt .header {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  margin-bottom: 10px;
  border-bottom: 0.5px dashed #000;
  padding-bottom: 5px;
}

.Receipt .item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 0.9em;
  font-weight: 500;
  height: 20px;
}

.Receipt .item .description {
  flex: 1;
}

.Receipt .item .price {
  flex: 0 0 60px;
  text-align: right;
}

.Receipt .barcode {
  height: 60px;
}

.Receipt .barcode img {
  position:relative;
  left: 50%;
  transform: translateX(-50%);
  height: 200px;
  margin: -100px 0 0 0;
}

.Receipt .sub-total-tax {
  margin-top: 10px;
  font-size: 0.8em;
  font-weight: 500;
  border-top: #000 1px dashed;
  padding-top: 4px;
  border-bottom: #000 1px dashed;
  padding-bottom: 4px;
  display: flex;
  justify-content: space-between;
}

.Receipt .sub-total {
  padding-left: 5px;
}

.Receipt .tax-amount {
  padding-right: 5px;
}

.Receipt .grand-total {
  bottom: 60px;
  left: 0;
  right: 0;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  padding-top: 5px;
}

.Receipt .items {
  max-height: 30vh;
  overflow-y: scroll;
  scrollbar-width: none; 
}

.items::-webkit-scrollbar {
  display: none;
}